<!doctype html>
<html lang="en">

<head>
    <title>สถานการณ์ผู้ติดเชื้อ COVID-19</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <div class="CONTAINER">
        <div class="n1">
            <nav role="navigation">
                <div id="menuToggle">

                    <input type="checkbox" />

                    <!--
                  Some spans to act as a hamburger.
                  
                  They are acting like a real hamburger,
                  not that McDonalds stuff.
                  -->
                    <span></span>
                    <span></span>
                    <span></span>

                    <ul id="menu">
                        <a href="#">
                            <li style="font-size: 15px;">รายงานสถานการณ์ COVID-19 ประจำวัน</li>
                        </a>
                        <a href="#">
                            <li style="font-size: 15px;">รายงานสถานการณ์ COVID-19 ประจำวัน แยกตามรายจังหวัด</li>
                        </a>
                        <a href="#">
                            <li style="font-size: 15px;">ข้อมูลผู้ป่วยประจำวัน(Line Lists)</li>
                        </a>
                        <a href="#">
                            <li style="font-size: 15px;">รายงานสถานการณ์ COVID-19 ระลอก 3 (ตั้งแต่ 01/04/2021 –ปัจจุบัน)
                            </li>
                        </a>
                        <a href="#">
                            <li style="font-size: 15px;">รายงานสถานการณ์ COVID-19 ระลอก 3 (ตั้งแต่ 01/04/2021 –ปัจจุบัน)
                                แยกตามรายจังหวัด</li>
                        </a>
                        <a href="#">
                            <li style="font-size: 15px;">ข้อมูลผู้ป่วยระลอก 3 (ตั้งแต่ 01/04/2021 –ปัจจุบัน)</li>
                        </a>
                        <a href="#">
                            <li style="font-size: 15px;">ข้อมูลผู้ป่วยระลอก 1 ถึงระลอก 2 (ตั้งแต่ 12/01/2020 –
                                31/03/2021)</li>
                        </a>
                        <a href="#">
                            <li style="font-size: 15px;">รายงานสถานการณ์ COVID-19 ระลอก 1 ถึงระลอก 2 (ตั้งแต่ 12/01/2020
                                – 31/03/2021)</li>
                        </a>
                        <a href="#">
                            <li style="font-size: 15px;">รายงานสถานการณ์ COVID-19 ระลอก 1 ถึงระลอก 2 (ตั้งแต่ 12/01/2020
                                – 31/03/2021) แยกตามรายจังหวัด</li>
                        </a>
                    </ul>

                </div>
            </nav>

            <p style="text-align: center;">รายงานสถานการณ์ Covid - 19 ประจำวัน</p>
        </div>
    </div>
    <h1 class="text-center headline mt-5">รายงานสถานการณ์ COVID-19 ระลอก 1 ถึงระลอก 2 (ตั้งแต่ 12/01/2020 – 31/03/2021)
        แยกตามรายจังหวัด</h1>
    <hr>

    <div class="spinner-border text-primary text-center" role="status" id="relodedata">
        <span class="sr-only">Loading...</span>
    </div>


    <!-- ส่วนหลัก -->
    <div class="" id="main">
        <div class="container mt-5">
            <div class="row">

                <!-- input เลือกวันที่ -->
                <div class="col align-self-start">
                    <input type="date" id="birthday" name="birthday">
                </div>
                <!-- input เลือกวันที่ -->
                <div class="col align-self-center">
                </div>
                <div class="col align-self-end">

                    <div class="input-group">
                        <!-- Drop down  เลือกจังหวัด 77 จังหวัด -->
                        <select class="custom-select" id="provinceTH">
                            <option value="" selected> เลือกจังหวัด ---------</option>
                            <option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
                            <option value="กระบี่">กระบี่ </option>
                            <option value="กาญจนบุรี">กาญจนบุรี </option>
                            <option value="กาฬสินธุ์">กาฬสินธุ์ </option>
                            <option value="กำแพงเพชร">กำแพงเพชร </option>
                            <option value="ขอนแก่น">ขอนแก่น</option>
                            <option value="จันทบุรี">จันทบุรี</option>
                            <option value="ฉะเชิงเทรา">ฉะเชิงเทรา </option>
                            <option value="ชัยนาท">ชัยนาท </option>
                            <option value="ชัยภูมิ">ชัยภูมิ </option>
                            <option value="ชุมพร">ชุมพร </option>
                            <option value="ชลบุรี">ชลบุรี </option>
                            <option value="เชียงใหม่">เชียงใหม่ </option>
                            <option value="เชียงราย">เชียงราย </option>
                            <option value="ตรัง">ตรัง </option>
                            <option value="ตราด">ตราด </option>
                            <option value="ตาก">ตาก </option>
                            <option value="นครนายก">นครนายก </option>
                            <option value="นครปฐม">นครปฐม </option>
                            <option value="นครพนม">นครพนม </option>
                            <option value="นครราชสีมา">นครราชสีมา </option>
                            <option value="นครศรีธรรมราช">นครศรีธรรมราช </option>
                            <option value="นครสวรรค์">นครสวรรค์ </option>
                            <option value="นราธิวาส">นราธิวาส </option>
                            <option value="น่าน">น่าน </option>
                            <option value="นนทบุรี">นนทบุรี </option>
                            <option value="บึงกาฬ">บึงกาฬ</option>
                            <option value="บุรีรัมย์">บุรีรัมย์</option>
                            <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์ </option>
                            <option value="ปทุมธานี">ปทุมธานี </option>
                            <option value="ปราจีนบุรี">ปราจีนบุรี </option>
                            <option value="ปัตตานี">ปัตตานี </option>
                            <option value="พะเยา">พะเยา </option>
                            <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา </option>
                            <option value="พังงา">พังงา </option>
                            <option value="พิจิตร">พิจิตร </option>
                            <option value="พิษณุโลก">พิษณุโลก </option>
                            <option value="เพชรบุรี">เพชรบุรี </option>
                            <option value="เพชรบูรณ์">เพชรบูรณ์ </option>
                            <option value="แพร่">แพร่ </option>
                            <option value="พัทลุง">พัทลุง </option>
                            <option value="ภูเก็ต">ภูเก็ต </option>
                            <option value="มหาสารคาม">มหาสารคาม </option>
                            <option value="มุกดาหาร">มุกดาหาร </option>
                            <option value="แม่ฮ่องสอน">แม่ฮ่องสอน </option>
                            <option value="ยโสธร">ยโสธร </option>
                            <option value="ยะลา">ยะลา </option>
                            <option value="ร้อยเอ็ด">ร้อยเอ็ด </option>
                            <option value="ระนอง">ระนอง </option>
                            <option value="ระยอง">ระยอง </option>
                            <option value="ราชบุรี">ราชบุรี</option>
                            <option value="ลพบุรี">ลพบุรี </option>
                            <option value="ลำปาง">ลำปาง </option>
                            <option value="ลำพูน">ลำพูน </option>
                            <option value="เลย">เลย </option>
                            <option value="ศรีสะเกษ">ศรีสะเกษ</option>
                            <option value="สกลนคร">สกลนคร</option>
                            <option value="สงขลา">สงขลา </option>
                            <option value="สมุทรสาคร">สมุทรสาคร </option>
                            <option value="สมุทรปราการ">สมุทรปราการ </option>
                            <option value="สมุทรสงคราม">สมุทรสงคราม </option>
                            <option value="สระแก้ว">สระแก้ว </option>
                            <option value="สระบุรี">สระบุรี </option>
                            <option value="สิงห์บุรี">สิงห์บุรี </option>
                            <option value="สุโขทัย">สุโขทัย </option>
                            <option value="สุพรรณบุรี">สุพรรณบุรี </option>
                            <option value="สุราษฎร์ธานี">สุราษฎร์ธานี </option>
                            <option value="สุรินทร์">สุรินทร์ </option>
                            <option value="สตูล">สตูล </option>
                            <option value="หนองคาย">หนองคาย </option>
                            <option value="หนองบัวลำภู">หนองบัวลำภู </option>
                            <option value="อำนาจเจริญ">อำนาจเจริญ </option>
                            <option value="อุดรธานี">อุดรธานี </option>
                            <option value="อุตรดิตถ์">อุตรดิตถ์ </option>
                            <option value="อุทัยธานี">อุทัยธานี </option>
                            <option value="อุบลราชธานี">อุบลราชธานี</option>
                            <option value="อ่างทอง">อ่างทอง </option>
                            <option value="ไม่ระบุ">ไม่ระบุ</option>
                        </select>
                        <!-- Drop down  เลือกจังหวัด 77 จังหวัด -->

                        <!-- button ค้นหา -->
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" onclick="myFunction()">ค้นหา</button>
                        </div>
                        <!-- button ค้นหา -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row justify-content-md-center">
                <!-- ผู้ป่วยยืนยัน -->
                <div class="col-md-auto">
                    <div class="card card-size box1">
                        <div class="card-body px-3 py-4-5">
                            <div class="">
                                <h5 class="text-center font-semibold">ผู้ป่วยยืนยัน(คน)</h5>
                            </div>
                            <div class="mt-2">
                                <!--  id  total_case_excludeabroad  ผู้ป่วยยืนยัน-->
                                <h2 id="total_case_excludeabroad" class="text-center font-semibold"></h2>
                                <!--  id  total_case_excludeabroad  ผู้ป่วยยืนยัน-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ผู้ป่วยยืนยัน -->
            </div>
        </div>

        <div class="container">
            <div class="row mt-5">

                <!-- รายใหม่ -->
                <div class="col-6 col-lg-6 col-md-6 ">
                    <div class="card card-box box2">
                        <div class="card-body px-3 py-4-5">
                            <div class="">
                                <h5 class="text-center font-semibold">รายใหม่</h5>
                            </div>
                            <div class="mt-2">
                                <!--  id  new_case  รายใหม่-->
                                <h2 id="new_case" class="text-center font-semibold"></h2>
                                <!--  id  new_case  รายใหม่-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- รายใหม่ -->

                <!-- รวมผู้ป่วยทั้งหมด -->
                <div class="col-6 col-lg-6 col-md-6">
                    <div class="card card-box box3">
                        <div class="card-body px-3 py-4-5">
                            <div class="">
                                <h5 class="text-center font-semibold">รวมผู้ป่วยทั้งหมด</h5>
                            </div>
                            <div class="mt-2">
                                <!--  id  total_case  รวมผู้ป่วยทั้งหมด-->
                                <h2 id="total_case" class="text-center font-semibold"></h2>
                                <!--  id  total_case  รวมผู้ป่วยทั้งหมด-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- รวมผู้ป่วยทั้งหมด -->
            </div>
        </div>

        <div class="container">
            <div class="row mt-5">
                <!-- เสียชีวิต -->
                <div class="col-6 col-lg-6 col-md-6 ">
                    <div class="card card-box box4">
                        <div class="card-body px-3 py-4-5">
                            <div class="">
                                <h5 class="text-center font-semibold">เสียชีวิต</h5>
                            </div>

                            <div class="mt-2">
                                <h2 id="new_death" class="text-center font-semibold"></h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-6 col-md-6">
                    <div class="card card-box box5">
                        <div class="card-body px-3 py-4-5">
                            <div class="">
                                <h5 class="text-center font-semibold">เสียชีวิตสะสม</h5>
                            </div>

                            <div class="mt-2">
                                <h2 id="total_death" class="text-center font-semibold"></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- เสียชีวิต -->
            </div>
        </div>
        <h1 class="text-center headline mt-5">รายงานสถานการณ์ COVID-19 ภายในประเทศ อัพเดทรายวัน</h1>
        <p class="text-center headline mt-5" id="txn_date"></p>
    </div>
    <!-- ส่วนหลัก -->
</body>

</html>

<!-- ส่วนตกแต่งความส่วยงาม  ด้วย css -->


<!-- ส่วนตกแต่งความส่วยงาม  ด้วย css -->



<!-- ส่วนจัดการหน้า ui ให้การประมวนผลโดย ภาษา JavaScript -->
<script>
    let covid19data = [];
    document.getElementById('main').style.visibility = "hidden";


    async function getapi() {

        // ดึงข้อมูลจาก api covid19 ลิ้งที่ 9
        const response = await fetch("https://covid19.ddc.moph.go.th/api/Cases/round-1to2-by-provinces");

        // แปลงข้อฒุลให้อยู่รูปแบบ json
        const data = await response.json();


        console.log(data);

        // นำข้อมูลมาใส่ในตัวแปล
        covid19data = data;

        // ให้แสดงหน้าหลัก
        document.getElementById('main').style.visibility = "visible";

        // ให้ซ่อนปุ่ม relode
        document.getElementById('relodedata').style.visibility = "hidden";

    }

    // สั่งให้ ฟั่งชั่น getapi ทำงาน
    getapi();



    // ฟั่งชั่นเมื่อปุ่มถูกคลิ็ก 
    function myFunction() {
        // อ่านข้อมูลวันที่
        let birthday = document.getElementById("birthday").value;

        // อ่านข้อมูลจังหวัด
        let provinceTH = document.getElementById("provinceTH").value;
        console.log(birthday);
        console.log(provinceTH);


        // ค้นข้อมูลที่ตรงกับ วันที่และ จังหวัด ในตัวแปร covid19data
        let searchcovid19data = covid19data.find((tree) => {
            if (tree.txn_date === birthday && tree.province === provinceTH) return true;
        })

        console.log(searchcovid19data);

        // แสดงผลข้อมูลที่หน้าเว็บไซน์
        document.getElementById('txn_date').innerHTML = searchcovid19data.txn_date;
        document.getElementById('new_case').innerHTML = searchcovid19data.new_case;
        document.getElementById('new_death').innerHTML = searchcovid19data.new_death;
        document.getElementById('total_case').innerHTML = searchcovid19data.total_case;
        document.getElementById('total_case_excludeabroad').innerHTML = searchcovid19data.total_case_excludeabroad;
        document.getElementById('total_death').innerHTML = searchcovid19data.total_death;
    }
</script>
<!-- ส่วนจัดการหน้า ui ให้การประมวนผลโดย ภาษา JavaScript -->