<!doctype html>
<html lang="en">

<head>
    <title>Covid-19</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/stylesheets/covid027.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="CONTAINER">
            <div class="n1">
                <nav role="navigation">
                    <div id="menuToggle">
                        <!--
                      A fake / hidden checkbox is used as click reciever,
                      so you can use the :checked selector on it.
                      -->
                        <input type="checkbox" />

                        <!--
                      Some spans to act as a hamburger.
                      
                      They are acting like a real hamburger,
                      not that McDonalds stuff.
                      -->
                        <span></span>
                        <span></span>
                        <span></span>

                        <!--
                      Too bad the menu has to be inside of the button
                      but hey, it's pure CSS magic.
                      -->
                        <ul id="menu">
                            <a href="#">
                                <li style="font-size: 15px;">รายงานสถานการณ์ COVID-19 ประจำวัน</li>
                            </a>
                            <a href="#">
                                <li style="font-size: 15px;">รายงานสถานการณ์ COVID-19 ประจำวัน แยกตามรายจังหวัด</li>
                            </a>
                            <a href="#">
                                <li style="font-size: 15px;">ข้อมูลผู้ป่วยประจำวัน(Line Lists)</li>
                            </a>
                            <a href="#">
                                <li style="font-size: 15px;">รายงานสถานการณ์ COVID-19 ระลอก 3 (ตั้งแต่ 01/04/2021
                                    –ปัจจุบัน)</li>
                            </a>
                            <a href="#">
                                <li style="font-size: 15px;">รายงานสถานการณ์ COVID-19 ระลอก 3 (ตั้งแต่ 01/04/2021
                                    –ปัจจุบัน) แยกตามรายจังหวัด</li>
                            </a>
                            <a href="#">
                                <li style="font-size: 15px;">ข้อมูลผู้ป่วยระลอก 3 (ตั้งแต่ 01/04/2021 –ปัจจุบัน)</li>
                            </a>
                            <a href="#">
                                <li style="font-size: 15px;">ข้อมูลผู้ป่วยระลอก 1 ถึงระลอก 2 (ตั้งแต่ 12/01/2020 –
                                    31/03/2021)</li>
                            </a>
                            <a href="#">
                                <li style="font-size: 15px;">รายงานสถานการณ์ COVID-19 ระลอก 1 ถึงระลอก 2 (ตั้งแต่
                                    12/01/2020 – 31/03/2021)</li>
                            </a>
                            <a href="#">
                                <li style="font-size: 15px;">รายงานสถานการณ์ COVID-19 ระลอก 1 ถึงระลอก 2 (ตั้งแต่
                                    12/01/2020 – 31/03/2021) แยกตามรายจังหวัด</li>
                            </a>
                        </ul>

                    </div>
                </nav>

                <p style="text-align: center;">รายงานสถานการณ์ Covid - 19 ประจำวัน</p>
            </div>
        </div>
    </header>
    <section>
        <main>
            <div class="container">
                <div class="row">
                    <p>อัพเดตล่าสุด :
                        <p id=updateDate>17/11/2535</p>
                    </p>
                </div>
            </div>
            <div id="resultBlock">
                <div id="sm">
                    <p id="prefix">จำนวนผู้ติดเชื้อรายใหม่ </p>
                    <h6 id=newCase>33</h6>
                    <p id="suffix">ราย</p>

                </div>
                <div id="md">
                    <p id="prefix">จำนวนผู้ติดเชื้อสะสม</p>
                    <h6 id=totalCase>0</h6>
                    <p id="suffix">ราย</p>

                </div>
                <div id="lg">
                    <p id="prefix">จำนวนผู้ติดเชื้อใหม่</p>
                    <h6 id=newCaseThai>0</h6>
                    <p id="suffix">ราย</p>

                </div>
                <div id="lg">
                    <p id="prefix">จำนวนผู้ติดเชื้อสะสมในไทย</p>
                    <h6 id=totalCaseThai>0</h6>
                    <p id="suffix">ราย</p>
                </div>
            </div>
            <div class="container">
                <div id="resultBlock">
                    <div id="ms">
                        <p id="prefix1">จำนวนผู้ตายใหม่</p>
                        <h6 id=newDeath>33</h6>
                        <p id="suffix">ราย</p>
    
                    </div>
                    <div id="dm">
                        <p id="prefix1">จำนวนผู้ตายรวมสะสม)</p>
                        <h6 id=totalDeath>0</h6>
                        <p id="suffix">ราย</p>
    
                    </div>
                    <div id="gl">
                        <p id="prefix1">จำนวนผู้ที่รักษาหายแล้ว</p>
                        <h6 id=newRecovered>0</h6>
                        <p id="suffix">ราย</p>
    
                    </div>
                    <div id="ml">
                        <p id="prefix1">จำนวนผู้ที่รักษาหายแล้วสะสม</p>
                        <h6 id=totalRecovered>0</h6>
                        <p id="suffix">ราย</p>
                    </div>
                </div>
            </div>
        </main>
       
        <article>

        </article>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="../public/javascripts/covid027.js"></script>       
</body>

</html>