<!doctype html>
<html>
<title>Covid - 19</title>

<head>

<link rel="stylesheet" href="./covid038.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/stylesheets/covid038.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    ุintegrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>>
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Kanit', sans-serif;
  }
</style>

<body class="w3-light-grey">

 <!-- Top container -->
 <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i
      class="fa fa-bars"></i> เมนู</button>
  <span id=updatePreDate class="w3-right" style="padding:8px 7px;"></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container" style="padding: 5%;">
    <h5><b>Covid-19</b></h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
      onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  ปิดเมนู</a>
    <a href="coG1" class="w3-bar-item w3-button w3-padding"><i class=""></i>  รายงานสถานการณ์ COVID-19 ประจำวัน</a>
    <a href="coG2" class="w3-bar-item w3-button w3-padding"><i class=""></i>  รายงานสถานการณ์ COVID-19 ประจำวัน แยกตามรายจังหวัด</a>
    <a href="coG3" class="w3-bar-item w3-button w3-padding"><i class=""></i>  ข้อมูลผู้ป่วยประจำวัน</a>
    <a href="coG4" class="w3-bar-item w3-button w3-padding"><i class=""></i>  รายงานสถานการณ์ COVID-19 ระลอก 3</a>
    <a href="coG5" class="w3-bar-item w3-button w3-padding"><i class=""></i>  รายงานสถานการณ์ COVID-19 ระลอก 3 แยกตามรายจังหวัด</a>
    <a href="coG6" class="w3-bar-item w3-button w3-padding"><i class=""></i>  ข้อมูลผู้ป่วยระลอก 3</a>
    <a href="coG7" class="w3-bar-item w3-button w3-padding"><i class=""></i>  ข้อมูลผู้ป่วยระลอก 1 ถึงระลอก 2 </a>
    <a href="coG8" class="w3-bar-item w3-button w3-padding"><i class=""></i>  รายงานสถานการณ์ COVID-19 ระลอก 1 ถึงระลอก 2</a>
    <a href="coG9" class="w3-bar-item w3-button w3-padding"><i class=""></i>  รายงานสถานการณ์ COVID-19 ระลอก 1 ถึงระลอก 2 แยกตามรายจังหวัด (1)</a>
    <a href="coG92" class="w3-bar-item w3-button w3-padding"><i class=""></i>  รายงานสถานการณ์ COVID-19 ระลอก 1 ถึงระลอก 2 แยกตามรายจังหวัด (2)</a><br><br>
  </div>
</nav>


  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">

<html lang="en">
  <head>
    <title>ข้อมูลผู้ป่วยระลอก 1 ถึงระลอก 2 (ตั้งแต่ 12/01/2020 – 31/03/2021) </title>
    <center><h2> ข้อมูลผู้ป่วยระลอก 1 ถึงระลอก 2 (ตั้งแต่ 12/01/2020 – 31/03/2021) </h2></center> 
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> 
              <ul class="navbar-nav">
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  รายงานสถานการณ์ COVID-19
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="index_1.html">รายงานประจำวัน</a>
                  <a class="dropdown-item" href="#">รายงานประจำวัน แยกจังหวัด</a>
                  <a class="dropdown-item" href="#">ข้อมูลผู้ป่วยประจำวัน</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      รายงานสถานการณ์COVID-19 ระลอก 3
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">วันที่ 01/04/2021 –ปัจจุบัน</a>
                    <a class="dropdown-item" href="#">วันที่ 01/04/2021 –ปัจจุบัน แยกจังหวัด</a>
                    <a class="dropdown-item" href="#">ข้อมูลผู้ป่วยระลอก</a>
                  </div>
                </li>
          
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      รายงานสถานการณ์ COVID-19 ระลอก 1 ถึงระลอก 2
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">วันที่ 12/01/2020 – 31/03/2021</a>
                    <a class="dropdown-item" href="#">วันที่ 12/01/2020 – 31/03/2021 แยกจังหวัด</a>
                    <a class="dropdown-item" href="#">ข้อมูลผู้ป่วยระลอก 1 ถึงระลอก 2</a>
                  </div>
                </li>
        </div>
      </div>

      <section>
          <main>
              <br>
                 <div class="col"><div class="col"><div class="col"><div class="col"><div class="col"><div class="col"><div class="col"><div class="col"><div class="col"></div> </div> </div> </div></div></div> </div></div>
              <div align = 'right' class="col"> 
                <div class="col align-self-start">
                 <input type="date" id="birthday" name="birthday">
                </div>   
                <button type="button" onclick=datesearch()>ค้นหา</button>       
         </select>
      </div>
    </div> 
  
         
              <div class="table-title">
             
              </div>
              <table id="tabledata" width="100% class="table-fill">
              <thead>
              <tr>
              <th class="text-left">ลำดับ</th>
              <th class="text-left">เพศ</th>
              <th class="text-left">อายุ</th>
              <th class="text-left">อาชีพ</th>
              <th class="text-left">จังหวัด</th>
              <th class="text-left">ประเทศ</th>
              <th class="text-left">ความเสี่ยง</th>
              <th  class="text-left">สาเหตุการติดเชื้อ</th>
              </tr> 
              
              </thead>
              <tbody class="table-hover">
              <tr>
              <td class="text-left"></td>
              <td class="text-left"></td>
              <td class="text-left"></td>
              <td class="text-left"></td>
              <td class="text-left"></td>
              <td class="text-left"></td>
              <td class="text-left"></td>
              <td  class="text-left"></td>
              </tr>
                    
              </tbody>
              </table>
    </header>

    <div class="w3-container">
    </div>

      <!-- Footer -->
      <footer class="w3-container w3-dark-grey w3-padding-32">
        <h4>นาย นครินทร์ สิทธิสาริกิจ 62030038</h4>
      </footer>

      <!-- End page content -->
    </div>

    <script>

      // Get the Sidebar
      var mySidebar = document.getElementById("mySidebar");

      // Get the DIV with overlay effect
      var overlayBg = document.getElementById("myOverlay");

      // Toggle between showing and hiding the sidebar, and add overlay effect
      function w3_open() {
        if (mySidebar.style.display === 'block') {
          mySidebar.style.display = 'none';
          overlayBg.style.display = "none";
        } else {
          mySidebar.style.display = 'block';
          overlayBg.style.display = "block";
        }
      }

      // Close the sidebar with the close button
      function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
      }
    </script>
      <script src="/javascripts/covidUpdateDate.js"></script>
      <script src="/javascripts/covid038.js"></script>
</body>
</html>