<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/template.css">
<style>
body,h1 {font-family: "Kanit", sans-serif}
body, html {height: 100%}
body, html,h1,p {color: rgb(41, 41, 41);}
.bgimg {
  background-image: url('/images/covid-19-web_0.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">COVID-19 REPORT</h1>
    <hr class="w3-border-grey" style="margin:auto;width:60%">
    <a href="/coG1" class="w3-large w3-center" style="padding: 2%;"><center>เข้าสู่เว็บไซต์</center></a>
  </div>

  <div class="w3-display-bottomleft w3-padding-large">
    <!-- <p>Powered by 
        <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
    </p> -->
  </div>

</div>

</body>
</html>
