html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {    
          font-family: 'Kanit', sans-serif;
        }


.bg-color {
    background-color: #EEEEEE;
  }

  .layout-margin-8 {
    margin: 3% 8%;
  }

  .card-img-top-custom {
    width: 50%;
    margin: 0 auto;
  }

  .card-title {
    text-align: center;
  } 

  .card-shadow {
    -webkit-box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
    box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
  }

  .card-deck {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
  }

  .card {
    padding: 3% 1.5%;
    border: none;
    max-width: 375px;
    flex-grow: 1;
  }

  .card-padding{
      margin-left: 5%;   
  }

  .header2{
    padding: 10px;
    background-color: #10824D;
    text-align: center;
    color: #ffffff;
  }
    [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    }

    [type="date"]::-webkit-inner-spin-button {
    display: none;
    }

    [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    }

    label {
    display: block;
    }

    input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
    }
    
    .container-date{
        margin-left: 60%;
        
    }
